/bedpres

/Catwalken/answer.py
/Catwalken/generator.py
/Catwalken/README.md
/Catwalken/input
/Catwalken/samples

/CYB Bursdag/samples
/CYB Bursdag/input
/CYB Bursdag/README.md
/CYB Bursdag/solution.py

/IFI Skitur 1/samples
/IFI Skitur 1/generator.py
/IFI Skitur 1/input
/IFI Skitur 1/README.md
/IFI Skitur 1/solution.py

/IFI Skitur 2/samples
/IFI Skitur 2/generator.py
/IFI Skitur 2/input
/IFI Skitur 2/README.md
/IFI Skitur 2/solution_sarek.py
/IFI Skitur 2/solution_sergey.py

/Vaksiner \1/samples
/Vaksiner \1/img
/Vaksiner \1/answer.py
/Vaksiner \1/generator.py
/Vaksiner \1/input
/Vaksiner \1/names.txt
/Vaksiner \1/README.md






/ifi-skitur2
/kantina
/pensumboker
/vaksiner-i-ballene-1
/visste-du-at